<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css">
</head>
<body>

</div>
<h1>Trang danh sách</h1>

<a href="/song/create"> Thêm mới</a>
<table>
    <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Actor</th>
        <th>Type</th>
        <th>Detail</th>
        <th>Action</th>
    </tr>
    <tr th:each="song,status:${songList}" >
        <td th:text="${status.count}"></td>
        <td th:text="${song.name}"></td>
        <td th:text="${song.actor}"></td>
        <td th:switch="${song.type}">
            <span th:case="1" th:text="EDM"></span>
            <span th:case="0" th:text="Soft"></span>
        </td>
        <td>
            <a th:href="@{/song/detail/__${song.name}__}">Detail</a>
        </td>
        <td>
            <a class="btn btn-outline-success" th:href="@{/form/__${c.id}__}">Edit</a>
            <button th:onclick="document.getElementById('deleteForm').action = '/[[${song.name}]]'" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>
        </td>
    </tr>
</table>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="deleteForm" th:method="delete">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Song</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure to delete this song?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/webjars/bootstrap/5.2.2/js/bootstrap.bundle.js"></script>

</body>
</html>